- if @current_user
  %div.store-button{ style: "margin-bottom: 5px;" }
    = link_to store_items_path, class: "store-link" do
      %img.store-icon{ src: asset_path('shards_icon.png'), alt: "Store Icon" }
      %span.balance Shards: #{@current_user.shards_balance}
